<b>Problem Statement : </b>Develop a ML Model to predict whether a Card based Transaction is "Fradulant" or not.

<b>Business Value : </b>With the rise, shift and growing demand for use of plastic money, there is significant increase in "Fraud".

We are ... *to complete*

<b>Credits :</b>
1) Brandon Harris for Sparkov_Data_Generation

Importing the required Python libraries

To Do : Think of using requirement.txt to get all the required packages.

In [17]:
#From the guidelines

<h1>JPMC Data Science Bootcamp Capstone Project</h1>
<h2>Objective:</h2>
The objective of this capstone project is to provide students an opportunity to showcase their ability to work on a real-world data science problem from data preprocessing to model deployment. Students are required to select their own dataset, process it, develop a neural network model, and create a user interface (UI) to demo the final product.
________________________________________
Requirements:
1. Dataset Selection:
•	Students must select their own dataset.
•	The dataset should have a minimum of 50,000 records and at least 20 features.
•	The dataset should preferably be related to a business or social problem, ensuring the project has business or social value.
2. Data Preprocessing:
a. Missing Values:
•	Handle missing values using appropriate techniques (e.g., imputation, deletion).
•	Document the percentage of missing values for each column and the technique used to handle them.
b. Outliers:
•	Identify and treat outliers in the dataset.
•	Use visualizations like boxplots to showcase the identification of outliers.
c. Resampling:
•	If the dataset is imbalanced, use resampling techniques such as oversampling, undersampling, or using the Synthetic Minority Over-sampling Technique (SMOTE).
d. Feature Selection and Importance:
•	Use appropriate techniques to select relevant features (e.g., Recursive Feature Elimination).
•	Determine the importance of features using techniques like Permutation Importance or SHAP values.
e. Creating New Columns/Merging Datasets:
•	If relevant, engineer new features that can aid in model performance.
•	Merge additional datasets if it provides added value to the project.
3. Model Development:
•	Use neural networks for modeling.
•	Implement and tune the neural network architecture.
•	Use appropriate evaluation metrics to judge the performance of the model.
•	Document the architecture and hyperparameters used.
4. User Interface (UI) Development:
•	Develop a simple UI where users can input data and get predictions from the trained model.
•	The UI should be intuitive and user-friendly.
•	Bonus: Include visualizations on the UI to display the model's predictions or other relevant insights.
5. Presentation (12 minutes):
a. Business Value:
•	Begin by explaining the business or social value of the chosen problem.
•	Discuss potential impact and benefits of solving the problem.
b. Process of Developing the Model:
•	Walk through the data preprocessing steps.
•	Discuss challenges faced and how they were addressed.
c. Tech Choices:
•	Discuss the technology stack used, including tools, libraries, and frameworks.
•	Explain the rationale behind choosing a neural network for modeling.
d. Model Performance:
•	Present the performance metrics of the neural network.
•	Discuss any overfitting/underfitting issues and how they were addressed.
e. Demonstration:
•	Conclude with a short demonstration of the developed UI.
•	Show how the model works in real-time and how users can benefit from it.
________________________________________
Deliverables:
1.	Codebase: Clean and well-documented code for data preprocessing, modeling, and UI development.
2.	Report: A detailed report explaining all the steps, decisions, and results.
3.	Presentation Slides: A slide deck for the 12-minute presentation.
4.	Demo: A working demonstration of the model through the developed UI.

Evaluation Criteria:
1.	Relevance of Dataset: Importance of the business/social problem tackled.
2.	Data Preprocessing: Thoroughness and appropriateness of preprocessing techniques.
3.	Model Architecture & Performance: Complexity, appropriateness, and performance of the neural network.
4.	UI: Usability and functionality of the user interface.
5.	Presentation: Clarity, structure, and effectiveness of the presentation.
________________________________________
Recommendations:
1.	Dataset Selection: Datasets from platforms like Kaggle, UCI Machine Learning Repository, or government databases can be good starting points.
2.	Technology Stack: Python with libraries like Pandas, Scikit-learn, TensorFlow/Keras for data preprocessing and modeling. For UI, frameworks like Flask or Streamlit can be useful.
3.	Collaboration: While individual efforts are appreciated, students can also consider teaming up to distribute tasks and bring diverse skill sets to the project.
________________________________________
Conclusion:
This capstone project is designed to test the comprehensive skills of a data science aspirant. It covers the entire spectrum, from understanding data to deploying a model. Successful completion of this project will be a testament to the student's readiness to tackle real-world data science challenges.
________________________________________
Note: Ensure to abide by the terms and conditions of the dataset source. Always give credit to the original source when presenting or publishing your work.

<h2>Importing the required packages for our solution</h2>

In [18]:
#This is to suppress warning messages in teh output cells related to "FutureWarning", like features which could be deprecated
#in future release(s).
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

from datetime import datetime
from icecream import ic
from icecream import install
import gc
import math
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import seaborn as sns
import time
import warnings

install()

#to display all the columns in a dataframe
pd.options.display.max_columns = None

In [19]:
#Other imports specific to Machine Learning.
from matplotlib import pyplot
from matplotlib.ticker import MultipleLocator, FormatStrFormatter
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.compose import ColumnTransformer
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier, BaggingClassifier, AdaBoostClassifier
from sklearn.feature_selection import RFE
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.inspection import permutation_importance
from sklearn.linear_model import LogisticRegression, SGDClassifier, RidgeClassifier, PassiveAggressiveClassifier, Perceptron
from sklearn.metrics import explained_variance_score, mean_absolute_error, r2_score
from sklearn.metrics import roc_auc_score, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import roc_curve
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from xgboost import XGBClassifier
import category_encoders as ce
import joblib
import pickle
import plotly.express as px
import plotly.graph_objects as go
import shap
import xgboost as xgb

<h4>We are controlling the over all execution speed by limiting the number of graphs being plotted.</h4>

In [20]:
#For faster processing we will control the plotting based on this flag, when set to False, plots would not be displayed.
display_plots = False

<h4>Explicit DataFrame deletion and Garbage Collection</h4>

In [21]:
#The following function deletes the DataFrame if present and explicitly calls GC
def clean_df(df):
    try:
        del (df)
    except NameError:
        pass  # 'df' does not exist, no action needed
    finally:
        gc.collect()

<h2>Reading the input data</h2>

<h3>To-Do A few lines describing about our data </h3>

<h3>Sample data looks as follows</h3>

In [22]:
#ssn|cc_num|first|last|gender|street|city|state|zip|lat|long|city_pop|job|dob|acct_num|profile|trans_num|trans_date|trans_time|unix_time|category|amt|is_fraud|merchant|merch_lat|merch_long
#018-76-7346|2251018143073116|Anthony|Gray|M|7987 Mckay Islands Suite 507|Hampton|FL|32044|29.8575|-82.1483|2060|Equities trader|2004-02-21|318118300879|young_adults_male_rural.json|b82176af551cd0ba8f5234127e0ec3ed|2023-09-05|03:23:49|1693864429|grocery_pos|9.39|1|fraud_Wolf Inc|29.770927|-81.503704
#018-76-7346|2251018143073116|Anthony|Gray|M|7987 Mckay Islands Suite 507|Hampton|FL|32044|29.8575|-82.1483|2060|Equities trader|2004-02-21|318118300879|young_adults_male_rural.json|7895261f4c6046cf84594d5165c11a9b|2023-09-05|01:07:38|1693856258|grocery_pos|297.60|1|fraud_Mosciski, Gislason and Mertz|29.461090|-83.014993
#018-76-7346|2251018143073116|Anthony|Gray|M|7987 Mckay Islands Suite 507|Hampton|FL|32044|29.8575|-82.1483|2060|Equities trader|2004-02-21|318118300879|young_adults_male_rural.json|0ddb4f488f832f3b2faf111f569eb189|2023-09-05|01:27:22|1693857442|gas_transport|297.03|1|fraud_Schmitt Inc|29.948823|-82.509773
#018-76-7346|2251018143073116|Anthony|Gray|M|7987 Mckay Islands Suite 507|Hampton|FL|32044|29.8575|-82.1483|2060|Equities trader|2004-02-21|318118300879|young_adults_male_rural.json|028d1f32baef3131f68a817a652ff60f|2023-09-05|05:57:02|1693873622|grocery_pos|339.51|1|fraud_Kuhic Inc|30.691070|-81.629087

<h3>We will read the input file, since the delimiter is '|' we will pass that to <u><i>sep</i></u> parameter.</h3>
<h3>Since our data is huge we will use the <u><i>engine</i></u> parameter while reading the data</h3>

In [23]:
#Read the input data.
#path = '/home/upskill/Learning/Python/MLData/XLData/cctrandata.csv'
#path = '/home/upskill/Learning/Python/MLData/XLData/ccdata50k.csv'
#path = '/home/upskill/Learning/Python/MLData/XLData/cctrandata3.5GB.csv'
#path = '/home/upskill/Learning/Python/MLData/XLData/ccdata10k.csv'
#path = '/home/upskill/Learning/Python/MLData/XLData/ccdata60k01m.csv'
path = '/home/upskill/Learning/Python/MLData/XLData/ccdata10k01m.csv'
path = '/home/upskill/Learning/Python/MLData/XLData/ccdata05K01M.csv'
##path = '/home/upskill/Learning/Python/MLData/XLData/ccdata15K01M.csv'
#path = '/home/upskill/Learning/Python/MLData/XLData/ccdata5runs.csv'

with open(path, 'r') as file:
    transdata = pd.read_csv(path,sep='|',engine='python')

#transdata = pd.read_csv(path,sep='|',engine='python')

<h3>Since this is synthetic data we are shuffling the data to make it randomized.</h3>

In [24]:
#Since this is synthetic data we are shuffling the data to make it randomized.
df = transdata.sample(frac=1).reset_index(drop=True)
#df['unique_id'] = df['ssn'].str.cat(df['cc_num'].astype(str))

In [25]:
#We will create a new DataFrame to keep working, in case we need to revert we will not re-read the input file.
#clean_df(df)
#df = transdata.copy()

<h3>Printing the basic details on the input data, like <b>shape</b>, <b>describe</b> and <b>info</b>.</h3>

In [26]:
#Print the basic details on the input data.
ic(df.shape)
ic(df.describe())
ic(df.info())

ic| df.shape: (372481, 26)
ic| df.describe():              cc_num            zip            lat           long  \
                   count  3.724810e+05  372481.000000  372481.000000  372481.000000
                   mean   3.571056e+17   51640.528067      37.400533     -91.884145
                   std    1.215702e+18   29365.193524       5.175745      15.836168
                   min    6.040027e+10    1002.000000      19.835300    -159.344800
                   25%    3.838411e+13   28409.000000      33.748900     -98.391100
                   50%    3.504390e+15   48382.000000      38.201900     -87.487300
                   75%    4.518665e+15   78211.000000      41.178800     -80.220500
                   max    4.999027e+18   99775.000000      64.859100     -68.791800

                              city_pop      acct_num     unix_time            amt       is_fraud  \
                   count  3.724810e+05  3.724810e+05  3.724810e+05  372481.000000  372481.000000
                   mean   3.029250e+05  4.959755e+11  1.694775e+09     128.240790       0.127035
                   std    5.735717e+05  2.915625e+11  7.736951e+05     259.497523       0.333012
                   min    1.280000e+02  2.981017e+08  1.693507e+09       1.000000       0.000000
                   25%    1.861600e+04  2.442757e+11  1.694128e+09       9.960000       0.000000
                   50%    6.371600e+04  4.932729e+11  1.694793e+09      50.170000       0.000000
                   75%    2.428030e+05  7.486302e+11  1.695457e+09     100.530000       0.000000
                   max    2.906700e+06  9.999583e+11  1.696099e+09   23869.060000       1.000000

                              merch_lat     merch_long
                   count  372481.000000  372481.000000
                   mean       37.400490     -91.887051
                   std         5.206135      15.848128
                   min        18.839021    -160.172093
                   25%        33.664935     -98.410074
                   50%        38.169842     -87.268312
                   75%        41.237788     -80.227735
                   max        65.855609     -67.804260
ic| df.info(): None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372481 entries, 0 to 372480
Data columns (total 26 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ssn         372481 non-null  object
 1   cc_num      372481 non-null  int64
 2   first       372481 non-null  object
 3   last        372481 non-null  object
 4   gender      372481 non-null  object
 5   street      372481 non-null  object
 6   city        372481 non-null  object
 7   state       372481 non-null  object
 8   zip         372481 non-null  int64
 9   lat         372481 non-null  float64
 10  long        372481 non-null  float64
 11  city_pop    372481 non-null  int64
 12  job         372481 non-null  object
 13  dob         372481 non-null  object
 14  acct_num    372481 non-null  int64
 15  profile     372481 non-null  object
 16  trans_num   372481 non-null  object
 17  trans_date  372481 non-null  object
 18  trans_time  372481 non-null  object
 19  unix_time   372481 non-null  int64
 20  category    372481 non-null  object
 21  amt         372481 non-null  float64
 22  is_fraud    372481 non-null  int64
 23  merchant    372481 non-null  object
 24  merch_lat   372481 non-null  float64
 25  merch_long  372481 non-null  float64
dtypes: float64(5), int64(6), object(15)
memory usage: 73.9+ MB

<h3>We will skim through the data to check for the following</h3>
<ul>- Data Type</ul>
<ul>- Number of Unique Values</ul>
<ul>- Number of Null Values</ul>

In [27]:
def skim_data(data, graph=False, print_value_counts = False):
    na_count = 0
    for colname in data.columns:
        print("*" * 70)
        print("\nSkimming for {}".format(colname))
        print("\tNumber of Null Values found : {}".format(data[colname].isna().sum()))
        print("\tNumber of Unique values found : {}".format(data[colname].nunique()))
        if print_value_counts:
            print("\tThe different unique values found in the column are as follows:")
            print(data[colname].value_counts())
        na_count = na_count + data[colname].isna().sum()
        print("*" * 70)

    if na_count > 0 :
        print("Null Values found in the following columns")
        for colname in data.columns:
            if (data[colname].isna().sum() > 0 ):
                print(colname)
    else:
        print("No Null Values found")
        
    if graph:
        # Plot missing value counts
        plt.figure(figsize=(16, 10))
        sns.barplot(x=data.columns, y=data.isna().sum())
        plt.ylabel('Missing Value Count')
        plt.title('Missing Values by Column')
        plt.show()

skim_data(df)

**********************************************************************

Skimming for ssn
	Number of Null Values found : 0
	Number of Unique values found : 4983
**********************************************************************
**********************************************************************

Skimming for cc_num
	Number of Null Values found : 0
	Number of Unique values found : 4983
**********************************************************************
**********************************************************************

Skimming for first
	Number of Null Values found : 0
	Number of Unique values found : 609
**********************************************************************
**********************************************************************

Skimming for last
	Number of Null Values found : 0
	Number of Unique values found : 908
**********************************************************************
**********************************************************************

Skimming for gender
	Number of Null Values found : 0
	Number of Unique values found : 2
**********************************************************************
**********************************************************************

Skimming for street
	Number of Null Values found : 0
	Number of Unique values found : 4983
**********************************************************************
**********************************************************************

Skimming for city
	Number of Null Values found : 0
	Number of Unique values found : 2414
**********************************************************************
**********************************************************************

Skimming for state
	Number of Null Values found : 0
	Number of Unique values found : 51
**********************************************************************
**********************************************************************

Skimming for zip
	Number of Null Values found : 0
	Number of Unique values found : 4058
**********************************************************************
**********************************************************************

Skimming for lat
	Number of Null Values found : 0
	Number of Unique values found : 4004
**********************************************************************
**********************************************************************

Skimming for long
	Number of Null Values found : 0
	Number of Unique values found : 4023
**********************************************************************
**********************************************************************

Skimming for city_pop
	Number of Null Values found : 0
	Number of Unique values found : 2770
**********************************************************************
**********************************************************************

Skimming for job
	Number of Null Values found : 0
	Number of Unique values found : 639
**********************************************************************
**********************************************************************

Skimming for dob
	Number of Null Values found : 0
	Number of Unique values found : 4529
**********************************************************************
**********************************************************************

Skimming for acct_num
	Number of Null Values found : 0
	Number of Unique values found : 4983
**********************************************************************
**********************************************************************

Skimming for profile
	Number of Null Values found : 0
	Number of Unique values found : 12
**********************************************************************
**********************************************************************

Skimming for trans_num
	Number of Null Values found : 0
	Number of Unique values found : 163044
**********************************************************************
**********************************************************************

Skimming for trans_date
	Number of Null Values found : 0
	Number of Unique values found : 30
**********************************************************************
**********************************************************************

Skimming for trans_time
	Number of Null Values found : 0
	Number of Unique values found : 84362
**********************************************************************
**********************************************************************

Skimming for unix_time
	Number of Null Values found : 0
	Number of Unique values found : 330121
**********************************************************************
**********************************************************************

Skimming for category
	Number of Null Values found : 0
	Number of Unique values found : 14
**********************************************************************
**********************************************************************

Skimming for amt
	Number of Null Values found : 0
	Number of Unique values found : 53224
**********************************************************************
**********************************************************************

Skimming for is_fraud
	Number of Null Values found : 0
	Number of Unique values found : 2
**********************************************************************
**********************************************************************

Skimming for merchant
	Number of Null Values found : 0
	Number of Unique values found : 693
**********************************************************************
**********************************************************************

Skimming for merch_lat
	Number of Null Values found : 0
	Number of Unique values found : 368178
**********************************************************************
**********************************************************************

Skimming for merch_long
	Number of Null Values found : 0
	Number of Unique values found : 370509
**********************************************************************
No Null Values found

From the above output of skim_data we can conclude that the given dataset has no missing/ null values.

This is mainly due the input data being "Synthetic"

<h2>Exploratory Data Analysis</h2>

In [28]:
#We will start our EDA now on our data
#Based on the exploration we will be creating new temporary dataframes, merge it with the input data if requierd abd deleting them once done.

#In case we need to add modify the structure of the data set either by adding or removing
#the columns based on EDA, we will use Pipeline to achieve the same

In [29]:
#From the input data we see a lot of PII data, we will try to drop those columns as it would not
#be used in our Feature Engineering.
#ssn|cc_num|first|last|gender|street|city|state|zip|lat|long|city_pop|job|dob|acct_num|profile|trans_num|trans_date|trans_time|unix_time|category|amt|is_fraud|merchant|merch_lat|merch_long

#We might drop a few here so that we can increase performance while EDA or apply few techniques as mentioned in Point 2.d of guidelines !!! We will thing about it.
#df.drop(['cc_num','first','last','street','zip','job','acct_num','profile','unix_time'],inplace=True,axis=1)
#We have Transaction Date and Time as two different columns, for EDA we will combine them. 
df['trans_date_time'] = pd.to_datetime(df['trans_date'] + ' ' + df['trans_time'])

In [30]:
#Since we have columns like 'city', 'state' and 'merchant_category', we will explore the trends with respect to "Fraud" 
#   - Overall Fraud Analysis on the Input Data
#   - State wise Analysis
#   - City wise Analysis
#   - Merchant Category wise
#   - Merchant Category based on Tram Amount
#   - State Wise Graphical Analysis on US Map
#   - Age Group
#   - Transaction Time (Transaction Hour)
#   - Day of the week.

In [31]:
#Ploting a grap to show the Percentage of Fraud Transactions.
if display_plots:
    sns.histplot(x='is_fraud',data = df,stat='percent')
    plt.show()

#We will explore the data State wise to get further insights.

In [32]:
#We will explore the data State wise to get further insights.
fraud_by_state = df.groupby('state')['is_fraud'].count().reset_index()
fraud_by_state_sorted = df.groupby('state')['is_fraud'].count().reset_index().sort_values(by = 'state', ascending= True)
fraud_by_state_top20 = df.groupby('state')['is_fraud'].count().reset_index().sort_values(by = 'is_fraud', ascending= False).head(20)

if display_plots:
    fig, axes = plt.subplots(2, 1, figsize=(12, 12))
    sns.barplot(x='state',y='is_fraud',data=fraud_by_state,width=.5,ax=axes[0])
    axes[0].set_xlabel("States")
    axes[0].set_ylabel("Number of Fraud Transactions")
    axes[0].tick_params(axis='x', rotation=45) 
    axes[0].set_title("Statewise Analysis of Fraud Transactions")

    sns.barplot(x='state',y='is_fraud',data=fraud_by_state_top20,ax=axes[1])
    axes[1].set_xlabel("States")
    axes[1].set_ylabel("Number of Fraud Transactions")
    axes[1].set_title("Statewise Analysis of the Most Fraudulent Locations")

    plt.tight_layout()
    plt.show()

clean_df(fraud_by_state)
clean_df(fraud_by_state_sorted)
clean_df(fraud_by_state_top20)

In [33]:
#Since we see the State having some kind of impact on the Fraud, we will use Weigt of Evidence Encoder on this and apply it on each unique city.

We will explore the data City wise to get further insights.

In [34]:
#We will explore the data City wise to get further insights.
fraud_city_state = df[['city','state','is_fraud','lat','long','city_pop']]
fraud_city_state.loc[:, 'city'] = fraud_city_state.apply(lambda row: f"{row['city']}  ({row['state']})", axis=1)
fraud_by_city = fraud_city_state.groupby('city')['is_fraud'].count().reset_index()
fraud_by_city_sorted = fraud_city_state.groupby('city')['is_fraud'].count().reset_index().sort_values(by = 'is_fraud', ascending= True)
fraud_by_city_top20 = fraud_city_state.groupby('city')['is_fraud'].count().reset_index().sort_values(by = 'is_fraud', ascending= False).head(20)
fraud_city_state['median_city_pop'] = fraud_city_state.groupby('state')['city_pop'].transform('median')

if display_plots:
    fig, axes = plt.subplots(2, 1, figsize=(12, 12))
    sns.barplot(x='city',y='is_fraud',data=fraud_by_city,width=.5,ax=axes[0])
    axes[0].set_xlabel("Cities")
    axes[0].set_ylabel("Number of Fraud Transactions")
    axes[0].tick_params(axis='x', rotation=45) 
    axes[0].set_title("City wise Analysis of Fraud Transactions")

    sns.barplot(x='city',y='is_fraud',data=fraud_by_city_top20,ax=axes[1])
    axes[1].set_xlabel("Cities")
    axes[1].tick_params(axis='x', rotation=45) 
    axes[1].set_ylabel("Number of Fraud Transactions")
    axes[1].set_title("City wise Analysis of the Most Fraudulent Locations")

    plt.tight_layout()
    plt.show()

clean_df(fraud_city_state)
clean_df(fraud_by_city)
clean_df(fraud_by_city_sorted)
clean_df(fraud_by_city_top20)

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
#Since we see the city having some kind of impact on the Fraud, we will use Weigt of Evidence Encoder on this and apply it on each unique city.

We will explore the data Merchant Category wise to get further insights.

In [36]:
#We will explore the data Merchant Category wise to get further insights.
fraud_by_tran_category_df = df[['amt','category','is_fraud']]
fraud_by_tran_category = fraud_by_tran_category_df.groupby('category')['is_fraud'].count().reset_index()
fraud_by_tran_category_sorted = fraud_by_tran_category_df.groupby('category')['is_fraud'].count().reset_index().sort_values(by = 'is_fraud', ascending= False)
fraud_by_tran_category_amt = fraud_by_tran_category_df.groupby('category')['amt'].sum().reset_index().sort_values(by = 'amt', ascending= False)
fraud_by_tran_category_amt['amt'] = fraud_by_tran_category_amt.apply(lambda row: round(row['amt'] / 1000,2), axis=1)

if display_plots:
    fig, axes = plt.subplots(3, 1, figsize=(12, 12))
    sns.barplot(x='category',y='is_fraud',data=fraud_by_tran_category_sorted,width=.5,ax=axes[0])
    axes[0].set_xlabel("Merchant Category")
    axes[0].set_ylabel("Number of Fraudulent Transactions")
    axes[0].tick_params(axis='x', rotation=45) 
    axes[0].set_title("Merchant Categories with Highest Fraud Transaction Counts")

    sns.barplot(x='category',y='amt',data=fraud_by_tran_category_amt,ax=axes[1])
    axes[1].set_xlabel("Merchant Category")
    axes[1].tick_params(axis='x', rotation=45) 
    axes[1].set_ylabel("Total Fraud Transactions Amount ($000s)")
    axes[1].set_title("Total Fraud Transactions Amount by Merchant Category")

    sns.boxplot(x='category',y='amt',data=fraud_by_tran_category_df[fraud_by_tran_category_df['is_fraud']==1],ax=axes[2])
    axes[2].set_xlabel("Merchant Category")
    axes[2].tick_params(axis='x', rotation=45) 
    axes[2].set_ylabel("Fraud Transactions Amount")
    axes[2].set_title("Total Fraud Transactions Amount by Merchant Category")

    plt.tight_layout()
    plt.show()

clean_df(fraud_by_tran_category_df)
clean_df(fraud_by_tran_category)
clean_df(fraud_by_tran_category_sorted)
clean_df(fraud_by_tran_category_amt)

In [37]:
def display_data_by_category(display_plots):
    if not display_plots:
        return

    categories = df['category'].unique()

    # Create subplots
    fig, axes = plt.subplots(len(categories), 1, figsize=(12, 8 * len(categories)))

    for i, category in enumerate(categories):
        sns.set()
        ax = axes[i]
        
        # Filter the DataFrame for the current category
        category_df = df[df['category'] == category]
        
        # Create the histogram for 'amt' within the current category
        sns.histplot(ax=ax, x='amt', data=category_df, hue='is_fraud', stat='probability',
                    common_norm=False, bins=50, edgecolor='black')
        
        ax.set_title(f'Transaction view for Category : {category}')
        ax.set_xlabel('Transaction Amount')
        ax.set_ylabel('Percentage of Transactions')
        
        # Set the x-axis range
        ax.set_xlim(0, 1500)

    plt.tight_layout()
    plt.show()

display_data_by_category(display_plots)

In [38]:
#Since we see the category having some kind of impact on the Fraud, we will use Weight of Evidence Encoder on this and apply it.
#We will do the same for Category, State and City.

In [39]:
#Now we will use Weight of Evidence to encode the following and save it in pickle file which we would use during our prediction.

We will explore the data City wise even further to plot it on the map of USA.

In [40]:
#We will explore the data City wise even further to plot it on the map of USA.
zip_city_state_df = df[['zip','city','state','lat','long']]
zip_city_state = zip_city_state_df.drop_duplicates(subset='city')
total_trans_by_city = df.groupby('city').trans_num.count()
fraud_trans_by_city = df.groupby('city').is_fraud.sum()
trans_by_city = pd.merge(fraud_trans_by_city,total_trans_by_city,how='inner',on='city')
trans_by_city = pd.merge(trans_by_city,zip_city_state,how='inner',on='city')
trans_by_city = trans_by_city.rename(columns={'is_fraud': 'fraud_trans', 'trans_num': 'total_trans'})
#trans_by_city['fraud_ratio'] = trans_by_city.apply(lambda row: round((row['fraud_trans'] / row['total_trans'])*100,4), axis=1)
trans_by_city['fraud_ratio'] = trans_by_city.apply(lambda row: round((row['fraud_trans'] / row['total_trans'] * 100), 4) if row['total_trans'] != 0 else 0, axis=1)
trans_by_city_sorted = trans_by_city.sort_values(by = 'fraud_ratio', ascending= False)
trans_by_city_sorted.loc[:, 'city'] = trans_by_city_sorted.apply(lambda row: f"{row['city']}  ({row['state']})", axis=1)
trans_by_city_sorted.reset_index(drop=True, inplace=True)
trans_by_city_sorted['fraud_group'] = pd.qcut(trans_by_city_sorted.index,4,labels=["Most Fraud","Moderate Fraud","Low Fraud","No Fraud"])

if display_plots:
    fig, axes = plt.subplots(1, 1, figsize=(12, 12))
    sns.histplot(x=trans_by_city['fraud_ratio'],bins=100,ax=axes)
    axes.set_xlabel("Fraud Ratio")
    axes.set_ylabel("Number of Cities")
    axes.tick_params(axis='x', rotation=45) 
    axes.set_title("Fraud Ratio Transactions")

    plt.tight_layout()
    plt.show()
#From the above we can see that most of the cities have Fraud Transactions around 10% and there are few with 100% Fraud Transactions

From the above we can see that most of the cities have Fraud Transactions around 10% and there are few with 100% Fraud Transactions

Plotting the data on the Map of USA, we have an option to toggle the view.
We can view the data in the following 4 Categories
- Most Fraud (Red)
- Moderate Fraud (Orange)
- Low Fraud (Lime)
- No Fraud (Light Blue)

In [41]:
def plot_fraud_on_map(display_plots):
    if not display_plots:
        return
    #We will try to plot this on the US Map
    import plotly.graph_objects as go
    import plotly.express as px
    colors = ["red","orange","lime","lightblue"]
    labels=["Most Fraud","Moderate Fraud","Low Fraud","No Fraud"]
    fig = go.Figure()

    for index in range(len(labels)):
        maps_df = trans_by_city_sorted[trans_by_city_sorted['fraud_group'] == labels[index]]
        fig.add_trace(go.Scattergeo(
            locationmode = 'USA-states',
            lon = maps_df['long'],
            lat = maps_df['lat'],
            text = maps_df['city'],
            marker = dict(
                size = (maps_df['fraud_ratio'] + 1 ) * 10,
                color = colors[index],
                line_color='rgb(40,40,40)',
                line_width=0.5,
                sizemode = 'area'
            ),
            name = 'Fraud Category - {0}'.format(labels[index])))

    fig.update_layout(
            title='Fraud Transactions of US Data',
            geo=dict(
            scope='usa', 
            showland=True,
            landcolor = 'rgb(217, 217, 217)',
            ),
            width=800,
            height=800
        )

    fig.show()

plot_fraud_on_map(display_plots)

clean_df(zip_city_state_df)
clean_df(zip_city_state)
clean_df(total_trans_by_city)
clean_df(fraud_trans_by_city)
clean_df(trans_by_city)
clean_df(trans_by_city_sorted)

We will explore the data based on Fraud Amount, Customer Age and Transaction Time.

In [42]:
#We will explore the data based on Fraud Amount, Customer Age and Transaction Time.
current_year = pd.Timestamp.now().year
categorize_time = lambda hour: 'Night' if 0 <= hour < 6 else 'Morning' if 6 <= hour < 12 else 'Afternoon' if 12 <= hour < 18 else 'Evening' if 18 <= hour < 22 else 'Night'
fraud_by_date_time_df = df[['cc_num','amt','dob','trans_date_time','trans_date','trans_time','is_fraud']].copy()
fraud_by_date_time_df[['dob','trans_date']] = fraud_by_date_time_df[['dob','trans_date']].apply(pd.to_datetime)
fraud_by_date_time_df['trans_time'] = pd.to_datetime(fraud_by_date_time_df['trans_time']).dt.time
fraud_by_date_time_df['age'] = current_year - fraud_by_date_time_df['dob'].dt.year
fraud_by_date_time_df.loc[:,'trans_hr'] = fraud_by_date_time_df['trans_time'].apply(lambda x: x.hour)
fraud_by_date_time_df['day'] = pd.to_datetime(fraud_by_date_time_df['trans_date']).dt.day
fraud_by_date_time_df['weekday'] = pd.to_datetime(fraud_by_date_time_df['trans_date']).dt.strftime('%A')
fraud_by_date_time_df['weekday_num'] = pd.to_datetime(fraud_by_date_time_df['trans_date']).dt.weekday
fraud_by_date_time_df['time_period'] = fraud_by_date_time_df['trans_hr'].apply(categorize_time)
fraud_by_date_time_df_sorted = fraud_by_date_time_df.sort_values(by = 'weekday_num', ascending= False)
age_bins = np.arange(10,120,10)
age_labels = np.arange(10,110,10)
fraud_by_date_time_df['age_group'] = pd.cut(fraud_by_date_time_df['age'], bins=age_bins, labels=age_labels, right=False)

Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.

In [43]:
if display_plots:
    sns.set()
    fig, ax = plt.subplots(1,1, figsize = (12,8), constrained_layout=False)
    sns.histplot(ax = ax, x='age', data = fraud_by_date_time_df[fraud_by_date_time_df['is_fraud'] == 1])
    ax.set_title('Fraud Transaction trend with respect to Age')
    ax.set_xlabel('Age of the customers')
    ax.set_ylabel('Number of Fraud Transactions')

    sns.set()
    fig, ax = plt.subplots(1,1, figsize = (12,8), constrained_layout=False)
    sns.histplot(ax = ax, x='age_group', data = fraud_by_date_time_df[fraud_by_date_time_df['is_fraud'] == 1])
    ax.set_title('Fraud Transaction trend with respect to Age')
    ax.set_xlabel('Age Group of the customers')
    ax.set_ylabel('Number of Fraud Transactions')

    sns.set()
    fig, ax = plt.subplots(1,1, figsize = (12,8), constrained_layout=False)
    sns.histplot(ax = ax, x='trans_hr', data = fraud_by_date_time_df[fraud_by_date_time_df['is_fraud'] == 1])
    ax.set_title('Distribution of Fraud Transactions Over Time')
    ax.set_xlabel('Transaction Hour of the Day (HH)')
    ax.set_ylabel('Number of Fraud Transactions')
    ax.xaxis.set_major_locator(MultipleLocator(1)) 
    ax.xaxis.set_major_formatter(FormatStrFormatter('%02d')) 
    ax.set_xlim(0, 23)


    # Create a mapping of weekdays to their respective integer values, starting from Monday (0 for Monday, 1 for Tuesday, etc.)
    weekday_mapping = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }
    fraud_by_date_time_df['weekday_a'] = fraud_by_date_time_df['weekday'].map(weekday_mapping)
    fraud_by_date_time_df = fraud_by_date_time_df.sort_values(by='weekday_a')

    sns.set()
    fig, ax = plt.subplots(1,1, figsize = (12,8), constrained_layout=False)
    sns.histplot(ax = ax, x='weekday_num', data = fraud_by_date_time_df_sorted[fraud_by_date_time_df_sorted['is_fraud'] == 1])
    ax.set_xticks(range(len(weekday_mapping)))
    ax.set_xticklabels(weekday_mapping.keys())
    ax.set_title('Distribution of Fraud Transactions Over Weekdays')
    ax.set_xlabel('Weekday')
    ax.set_ylabel('Number of Fraud Transactions')
    ax.xaxis.set_major_locator(MultipleLocator(1)) 

    # Create a mapping of timeperiod to their respective integer values, starting from Morning (0 for Morning, 1 for Afternoon, etc.)
    timeperiod_mapping = {
        'Morning': 0,
        'Afternoon': 1,
        'Evening': 2,
        'Night': 3,
    }

    fraud_by_date_time_df['time_period_n'] = fraud_by_date_time_df['time_period'].map(timeperiod_mapping)
    fraud_by_date_time_df = fraud_by_date_time_df.sort_values(by='time_period_n')

    sns.set()
    fig, ax = plt.subplots(1,1, figsize = (12,12), constrained_layout=False)

    ax.set_xticks(range(len(timeperiod_mapping)))
    ax.set_xticklabels(timeperiod_mapping.keys())

    sns.histplot(ax = ax, x='time_period', data = fraud_by_date_time_df[fraud_by_date_time_df['is_fraud'] == 1])
    ax.set_title('Distribution of Fraud Transactions Over Weekdays')
    ax.xaxis.set_major_locator(MultipleLocator(1)) 
    ax.set_title('Fraud Transaction trend with respect to Time Period of the Day')
    ax.set_xlabel('Time Period')
    ax.set_ylabel('Number of Fraud Transactions')

    sns.set()
    fig, ax = plt.subplots(1,1, figsize = (12,12), constrained_layout=False)
    ax.set_xticks(range(len(timeperiod_mapping)))
    ax.set_xticklabels(timeperiod_mapping.keys())

    sns.histplot(ax = ax, x='time_period', data = fraud_by_date_time_df[fraud_by_date_time_df['is_fraud'] == 1])
    ax.xaxis.set_major_locator(MultipleLocator(1)) 
    ax.set_title('Fraud Transaction trend with respect to Time Period of the Day')
    ax.set_xlabel('Time Period')
    ax.set_ylabel('Number of Fraud Transactions')

    sns.set()
    fig, ax = plt.subplots(1,1, figsize = (12,12), constrained_layout=False)
    sns.histplot(ax = ax, x='time_period', data = fraud_by_date_time_df[fraud_by_date_time_df['is_fraud'] == 0])
    ax.xaxis.set_major_locator(MultipleLocator(1)) 
    ax.set_title('Non-Fraud Transaction trend with respect to Time Period of the Day')
    ax.set_xlabel('Time Period')
    ax.set_ylabel('Number of Non-Fraud Transactions')
    plt.show()

clean_df(fraud_by_date_time_df)
clean_df(fraud_by_date_time_df_sorted)

We will calulate the distance between the customer and merchant using Haversine Formula, to explore relation between,
Transaction Amount, Distance and Fraud.

In [44]:
#Looking at the few records we see that we have the Location of the Customer and the Merchant.
#We will use this info get the approx. distance the customer travelled to make the purchase.
#Generally customers mostly preform transactions with close vincinity and in case the customer is 
#performing a transaction at a far off distance, it would be worth probing it further for Risk Screening.

#Since we have positions expressed in Latitude and Longitude we will use Haversine
#  Haversine formula:
# a = sin²(Δφ/2) + cos φ1 ⋅ cos φ2 ⋅ sin²(Δλ/2)
# c = 2 ⋅ atan2( √a, √(1−a) )
# d = R ⋅ c
# where	φ is latitude, λ is longitude, R is earth’s radius (mean radius = 6,371km);
# note that angles need to be in radians to pass to trig functions!

def haversine_distance_vectorized(df):
    lat1, lon1, lat2, lon2 = np.radians(df['lat']), np.radians(df['long']), np.radians(df['merch_lat']), np.radians(df['merch_long'])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    R = 6371.0 # radius of the Earth
    distance = R * c * 0.1
    return round(distance, 2)  

#We will use the above haversine_distance_vectorized to create a new column in the dataframe
df['distance'] = haversine_distance_vectorized(df)

Here we are adding few more additional transaction related parameters like

- Average and Medain Transaction Amount

- Average and Median Distance between the customer and merchant

- Daily Limit Used and Remaining Limit

- Card Usage Per Hour and Per Day

In [45]:
#We will add new indicators whether the 
# - Transaction Amount was above the Average & Median Transaction Amount 
# - Distance was greater than Average & Median Distance
# - Daily Limit Used ($)
# - Remaining Daily Limit ($)
# - Number of Purchases in an Hour 
# - Total Number of Purchases in a Day
# - Median Transaction Amount Merchant Category wise

#Here we are making use of Card Number (cc_num) column to uniquely identify the customer.

#We calculate the accumulated usage based on Card Number and Transaction Date.
#For the Remaining Limit we subtract the Daily Limt from the Accumulate Usage with Miminum value as 0. 
df['daily_limit'] = 5000
df.sort_values(by='trans_date_time', inplace=False)
df['accumulated_daily_usage'] = df.groupby(['cc_num','trans_date'])['amt'].cumsum()
df['remaining_daily_limit'] = (df['daily_limit'] - df['accumulated_daily_usage']).clip(lower=0)
df['category_median_amt'] = df.groupby(['cc_num', 'category'])['amt'].transform('median')

purchase_df = df.groupby('cc_num').agg(
    med_amt=('amt','median'),
    purchase_power_amt=('amt', lambda x: x.quantile(0.75)),
    med_daily=('accumulated_daily_usage','median'),
    med_dist=('distance', 'median'),
    q75_dist=('distance', lambda x: x.quantile(0.75))
)
df = df.merge(purchase_df, on = 'cc_num').reset_index(drop=True)
df['over_med_amt'] = (df['amt'] > df['med_amt']).astype(int)
df['over_purchase_power'] = (df['amt'] > df['purchase_power_amt']).astype(int)
df['over_med_distance'] = (df['distance'] > df['med_dist']).astype(int)

usage_df = df[['cc_num','trans_date_time','trans_date']]
usage_df = usage_df.assign(trans_date=pd.to_datetime(df['trans_date']).dt.date)
usage_df.set_index('trans_date_time', inplace=True)
usage_df['one'] = 1
usage_df.sort_index(inplace=True)
rolling_df= usage_df.groupby('cc_num')['one'].rolling('1H').count().reset_index()
rolling_df.rename(columns={'one': 'usage_hour'}, inplace=True)
rolling_df['usage_hour'] = rolling_df['usage_hour'].astype(int)
usage_df['usage_today'] = usage_df.groupby(['cc_num', 'trans_date'])['one'].transform('count')
usage_df['median_usage'] = usage_df.groupby('cc_num')['one'].transform('median')
usage_df.reset_index(inplace=True)
usage_df = pd.merge(usage_df, rolling_df, on=['cc_num', 'trans_date_time'])
usage_df.drop(columns=['one','trans_date'], inplace=True)
df = pd.merge(df,usage_df, on=['cc_num', 'trans_date_time'])

if display_plots:
    sns.set()
    fig, ax = plt.subplots(1,1, figsize = (12,8), constrained_layout=False)
    sns.histplot(ax = ax, x='usage_today', data = df[df['is_fraud'] == 1])
    ax.set_title('Fraud Transaction trend with Per Day Usage')
    ax.set_xlabel('Per Day Usage')
    ax.set_ylabel('Number of Fraud Transactions')

#sns.set()
#fig, ax = plt.subplots(1,1, figsize = (12,8), constrained_layout=False)
#sns.histplot(ax = ax, x='distance', y='amt', data = df, hue = 'is_fraud')
#ax.set_title('Fraud Transaction trend with respect to Tran Amount and Distance')
#ax.set_xlabel('Distance')
#ax.set_ylabel('Tran Amount')
#plt.yscale('log')
clean_df(usage_df)
clean_df(rolling_df)

In [46]:
df.head().T

,0,1,2,3,4
ssn,012-28-9612,012-28-9612,012-28-9612,012-28-9612,012-28-9612
cc_num,676212030255,676212030255,676212030255,676212030255,676212030255
first,Chad,Chad,Chad,Chad,Chad
last,Franklin,Franklin,Franklin,Franklin,Franklin
gender,M,M,M,M,M
street,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600
city,Tampa,Tampa,Tampa,Tampa,Tampa
state,FL,FL,FL,FL,FL
zip,33624,33624,33624,33624,33624
lat,28.079,28.079,28.079,28.079,28.079
long,-82.5268,-82.5268,-82.5268,-82.5268,-82.5268
city_pop,717255,717255,717255,717255,717255
job,Youth worker,Youth worker,Youth worker,Youth worker,Youth worker
dob,1983-02-08,1983-02-08,1983-02-08,1983-02-08,1983-02-08
acct_num,587193359431,587193359431,587193359431,587193359431,587193359431
profile,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json
trans_num,0be0b93412569ca6b73e3c8c3be9cbc0,047870cbf125c8aea2e335fdba5a0f13,202fa7867bd8d60226f0a2720a11ac29,0369b0adad5fedbac7432c998b86e9df,8d1c57f97453aea0876f9e0dc5064587
trans_date,2023-09-13,2023-09-17,2023-09-10,2023-09-10,2023-09-20
trans_time,13:02:41,20:37:51,15:41:18,12:40:16,18:28:00
unix_time,1694590361,1694963271,1694340678,1694329816,1695214680
category,shopping_net,entertainment,misc_pos,misc_pos,food_dining
amt,2.19,66.5,95.06,16.16,6.08
is_fraud,0,0,0,0,0
merchant,fraud_Gerlach Inc,"fraud_Effertz, Welch and Schowalter","fraud_Cremin, Hamill and Reichel",fraud_Dickinson-Rempel,fraud_Will Ltd
merch_lat,29.049647,27.192847,28.890032,27.825344,28.687198
merch_long,-82.752258,-83.126779,-82.688957,-82.826021,-82.528252
trans_date_time,2023-09-13 13:02:41,2023-09-17 20:37:51,2023-09-10 15:41:18,2023-09-10 12:40:16,2023-09-20 18:28:00
distance,11.02,11.49,9.16,4.07,6.76
daily_limit,5000,5000,5000,5000,5000
accumulated_daily_usage,2.19,66.5,95.06,111.22,6.08
remaining_daily_limit,4997.81,4933.5,4904.94,4888.78,4993.92
category_median_amt,44.685,8.715,14.71,14.71,7.77
med_amt,34.45,34.45,34.45,34.45,34.45
purchase_power_amt,76.82,76.82,76.82,76.82,76.82
med_daily,151.1,151.1,151.1,151.1,151.1
med_dist,7.98,7.98,7.98,7.98,7.98
q75_dist,10.62,10.62,10.62,10.62,10.62
over_med_amt,0,1,1,0,0
over_purchase_power,0,0,1,0,0
over_med_distance,1,1,1,0,0
usage_today,3,7,8,8,4
median_usage,1.0,1.0,1.0,1.0,1.0
usage_hour,1,2,2,1,1

In [47]:
if display_plots:
    sns.scatterplot(x='category',y='amt',data=df,hue='is_fraud')
    plt.xticks(rotation=90)
    plt.yscale('log')
    plt.show()

In [48]:
clean_df(usage_df)
clean_df(usage_df)

In [49]:
df.head().T

,0,1,2,3,4
ssn,012-28-9612,012-28-9612,012-28-9612,012-28-9612,012-28-9612
cc_num,676212030255,676212030255,676212030255,676212030255,676212030255
first,Chad,Chad,Chad,Chad,Chad
last,Franklin,Franklin,Franklin,Franklin,Franklin
gender,M,M,M,M,M
street,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600
city,Tampa,Tampa,Tampa,Tampa,Tampa
state,FL,FL,FL,FL,FL
zip,33624,33624,33624,33624,33624
lat,28.079,28.079,28.079,28.079,28.079
long,-82.5268,-82.5268,-82.5268,-82.5268,-82.5268
city_pop,717255,717255,717255,717255,717255
job,Youth worker,Youth worker,Youth worker,Youth worker,Youth worker
dob,1983-02-08,1983-02-08,1983-02-08,1983-02-08,1983-02-08
acct_num,587193359431,587193359431,587193359431,587193359431,587193359431
profile,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json
trans_num,0be0b93412569ca6b73e3c8c3be9cbc0,047870cbf125c8aea2e335fdba5a0f13,202fa7867bd8d60226f0a2720a11ac29,0369b0adad5fedbac7432c998b86e9df,8d1c57f97453aea0876f9e0dc5064587
trans_date,2023-09-13,2023-09-17,2023-09-10,2023-09-10,2023-09-20
trans_time,13:02:41,20:37:51,15:41:18,12:40:16,18:28:00
unix_time,1694590361,1694963271,1694340678,1694329816,1695214680
category,shopping_net,entertainment,misc_pos,misc_pos,food_dining
amt,2.19,66.5,95.06,16.16,6.08
is_fraud,0,0,0,0,0
merchant,fraud_Gerlach Inc,"fraud_Effertz, Welch and Schowalter","fraud_Cremin, Hamill and Reichel",fraud_Dickinson-Rempel,fraud_Will Ltd
merch_lat,29.049647,27.192847,28.890032,27.825344,28.687198
merch_long,-82.752258,-83.126779,-82.688957,-82.826021,-82.528252
trans_date_time,2023-09-13 13:02:41,2023-09-17 20:37:51,2023-09-10 15:41:18,2023-09-10 12:40:16,2023-09-20 18:28:00
distance,11.02,11.49,9.16,4.07,6.76
daily_limit,5000,5000,5000,5000,5000
accumulated_daily_usage,2.19,66.5,95.06,111.22,6.08
remaining_daily_limit,4997.81,4933.5,4904.94,4888.78,4993.92
category_median_amt,44.685,8.715,14.71,14.71,7.77
med_amt,34.45,34.45,34.45,34.45,34.45
purchase_power_amt,76.82,76.82,76.82,76.82,76.82
med_daily,151.1,151.1,151.1,151.1,151.1
med_dist,7.98,7.98,7.98,7.98,7.98
q75_dist,10.62,10.62,10.62,10.62,10.62
over_med_amt,0,1,1,0,0
over_purchase_power,0,0,1,0,0
over_med_distance,1,1,1,0,0
usage_today,3,7,8,8,4
median_usage,1.0,1.0,1.0,1.0,1.0
usage_hour,1,2,2,1,1

In [50]:
df[df['ssn'] == '096-90-8009'].head(50).T

Empty DataFrame
Columns: []
Index: [ssn, cc_num, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, acct_num, profile, trans_num, trans_date, trans_time, unix_time, category, amt, is_fraud, merchant, merch_lat, merch_long, trans_date_time, distance, daily_limit, accumulated_daily_usage, remaining_daily_limit, category_median_amt, med_amt, purchase_power_amt, med_daily, med_dist, q75_dist, over_med_amt, over_purchase_power, over_med_distance, usage_today, median_usage, usage_hour]

In [51]:
ic(df.columns)
ic(df.shape)

ic| df.columns: Index(['ssn', 'cc_num', 'first', 'last', 'gender', 'street', 'city', 'state',
                       'zip', 'lat', 'long', 'city_pop', 'job', 'dob', 'acct_num', 'profile',
                       'trans_num', 'trans_date', 'trans_time', 'unix_time', 'category', 'amt',
                       'is_fraud', 'merchant', 'merch_lat', 'merch_long', 'trans_date_time',
                       'distance', 'daily_limit', 'accumulated_daily_usage',
                       'remaining_daily_limit', 'category_median_amt', 'med_amt',
                       'purchase_power_amt', 'med_daily', 'med_dist', 'q75_dist',
                       'over_med_amt', 'over_purchase_power', 'over_med_distance',
                       'usage_today', 'median_usage', 'usage_hour'],
                      dtype='object')
ic| df.shape: (372643, 43)

(372643, 43)

Write a paragraph on the insights gained with all the analysis done so far

    -  To Do , we will need a good summary here
    
    -

We will now tranform our data and proceed further with our analysis, mainly on the following

- Encoding the categorical features 

- Looking out for Features Importance

- Testing the data against few models which are best suited for problems which fall under Fraud Detection, mainly we will test using
    
    - Random Forest 

    - XGBoost

In [52]:
#We will now apply Weight of Evidence (WoE) encoding to few categoriacal variables like State, City and Merchant Category to ensure that we capture and save any
#relationship between them and flagging a transaction as "Fraud".

def woe(data, columns, target_col):
    woe_encoder = ce.WOEEncoder()
    for col in columns:
        src_col = data[col]
        tgt_col = data[target_col] 
        woe_col_name = f'woe_{col}'
        data[woe_col_name] =  woe_encoder.fit_transform(src_col, tgt_col)
    return data

In [53]:
#We will now apply the Weight of Evidence (WoE) encoding to the following columns
woe_columns = ['city','state']
woe_target_column = 'is_fraud'
df = woe(df,woe_columns,woe_target_column)

In [54]:
#We will create few Transformers to apply it on data, the same would be re-used again during our ML Training phase.

In [55]:
#This function would One Hot Encode the Catagorical Columns, the column names post OHE will have name as feature_<feature_value>
#i.e. If the column 'weekday' as values "Monday", "Tuesday" then post OHE teh columns would be 'weekday_monday','weekday_tuesday'
#therby making it easy to understand the data.

def ohe(df, col, save_encoder_to_file=False):
    le = LabelEncoder()
    a = le.fit_transform(df[col]).reshape(-1, 1)
    columns = [ f'{col}_{name}' for name in le.classes_ ]
    encoder = OneHotEncoder(sparse=False, categories='auto')
    if save_encoder_to_file:
        encoder_filename = f'{col}_encoder.pkl'
        joblib.dump(encoder, encoder_filename)
    result = pd.DataFrame(encoder.fit_transform(a), columns=columns)
    return result.astype(int)

In [56]:
class GenderTransformer(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        super().__init__()
        
    def fit(self, X, Y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        if 'gender' in X.columns:
            ohe_result = ohe(X,'gender',save_encoder_to_file=True)
            X =  pd.concat([X,ohe_result],axis=1)
            #X.drop(columns=['gender'], inplace=True)
        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('GenderTransformer :', elapsed_time, ' seconds')
        return X

In [57]:
class MerchantCatTransformer(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        super().__init__()
        
    def fit(self, X, Y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        if 'category' in X.columns:
            ohe_result = ohe(X, 'category',save_encoder_to_file=True)
            X =  pd.concat([X,ohe_result],axis=1)
            #X.drop(columns=['category'], inplace=True)
        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('MerchantCatTransformer :', elapsed_time, ' seconds')
        return X

In [58]:
class HaversineDistanceTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        super().__init__()

    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        if 'lat' in X.columns and 'long' in X.columns and 'merch_lat' in X.columns and 'merch_long' in X.columns:
            lat1, lon1, lat2, lon2 = np.radians(X['lat']), np.radians(X['long']), np.radians(X['merch_lat']), np.radians(X['merch_long'])
            dlat = lat2 - lat1
            dlon = lon2 - lon1
            a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
            c = 2 * np.arcsin(np.sqrt(a))
            R = 6373.0 # radius of the Earth
            X['distance'] = round(R * c * 0.10 ,2) #We are reducing the distance to 10% of the actual value
            X['distance_scaled'] = StandardScaler().fit_transform(X['distance'].values.reshape(-1,1))
            X.drop(columns=['lat','long','merch_lat','merch_long','distance'], inplace=True)
        
        if 'med_dist' in X.columns:
            X['med_dist_scaled'] = StandardScaler().fit_transform(X['med_dist'].values.reshape(-1,1))
            X.drop(columns=['med_dist'], inplace=True)

        if 'q75_dist' in X.columns:
            X['q75_dist_scaled'] = StandardScaler().fit_transform(X['q75_dist'].values.reshape(-1,1))
            X.drop(columns=['q75_dist'], inplace=True)

        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('HaversineDistanceTransformer :', elapsed_time, ' seconds')
        return X

In [59]:
class AmountTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        super().__init__()

    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        if 'amt' in X.columns:
            X['amt_scaled'] = StandardScaler().fit_transform(X['amt'].values.reshape(-1,1))
            X.drop(columns=['amt'], inplace=True)

        if 'daily_limit' in X.columns:
            X['daily_limit_scaled'] = StandardScaler().fit_transform(X['daily_limit'].values.reshape(-1,1))
            X.drop(columns=['daily_limit'], inplace=True)

        if 'accumulated_daily_usage' in X.columns:
            X['accumulated_daily_usage_scaled'] = StandardScaler().fit_transform(X['accumulated_daily_usage'].values.reshape(-1,1))
            X.drop(columns=['accumulated_daily_usage'], inplace=True)

        if 'remaining_daily_limit' in X.columns:
            X['remaining_daily_limit_scaled'] = StandardScaler().fit_transform(X['remaining_daily_limit'].values.reshape(-1,1))
            X.drop(columns=['remaining_daily_limit'], inplace=True)

        if 'med_amt' in X.columns:
            X['med_amt_scaled'] = StandardScaler().fit_transform(X['med_amt'].values.reshape(-1,1))
            #X.drop(columns=['med_amt'], inplace=True)

        if 'med_daily' in X.columns:
            X['med_daily_scaled'] = StandardScaler().fit_transform(X['med_daily'].values.reshape(-1,1)) 
            #X.drop(columns=['med_daily'], inplace=True)
        
        if 'category_median_amt' in X.columns:
            X['category_median_amt_scaled'] = StandardScaler().fit_transform(X['category_median_amt'].values.reshape(-1,1))
        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('AmountTransformer :', elapsed_time, ' seconds')
        return X

In [60]:
class PurchasePowerTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        super().__init__()

    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        if 'purchase_power_amt' in X.columns and 'ssn' in X.columns:
            X['purchase_power_amt_scaled'] = StandardScaler().fit_transform(X['purchase_power_amt'].values.reshape(-1,1))   
        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('PurchasePowerTransformer :', elapsed_time, ' seconds')
        return X

In [61]:
class AgeTransformer(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        super().__init__()

    def fit(self, X, Y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        if 'dob' in X.columns:
            current_year = pd.Timestamp.now().year
            X['dob'] = pd.to_datetime(X['dob'])
            X['age'] = (current_year - X['dob'].dt.year).clip(upper=100).astype(int)
            X['age_scaled'] = StandardScaler().fit_transform(X['age'].values.reshape(-1,1))
            age_bins = np.arange(10,120,10)
            age_labels = np.arange(10,110,10)
            X['age_group'] = pd.cut(X['age'], bins=age_bins, labels=age_labels, right=False)
            ohe_result = ohe(X, 'age_group',save_encoder_to_file=True)
            X = pd.concat([X,ohe_result],axis=1)
            X.drop(columns=['dob','age_group'], inplace=True)
        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('AgeTransformer :', elapsed_time, ' seconds')
        return X

In [62]:
class CityPopulationTransformer(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        super().__init__()
        
    def fit(self, X, Y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        if 'city_pop' in X.columns and 'state' in X.columns:
            X['state_pop_med'] = X.groupby('state')['city_pop'].transform('median')
            X['state_pop_med_scaled'] = StandardScaler().fit_transform(X['state_pop_med'].values.reshape(-1,1))
            X.drop(columns=['city_pop','state_pop_med'], inplace=True)
            city_pop_df = X[['state','state_pop_med_scaled']].drop_duplicates(subset='state_pop_med_scaled')
            # Check if the pickle file exists and delete it
            if os.path.exists('city_population.pkl'):
                os.remove('city_population.pkl')
            with open('city_population.pkl', 'wb') as file:
                pickle.dump(city_pop_df, file)

        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('CityPopulationTransformer :', elapsed_time, ' seconds')
        return X

In [63]:
class USStateTransformer(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        super().__init__()
        
    def fit(self, X, Y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        if 'state' in X.columns:
            ohe_result = ohe(X, 'state',save_encoder_to_file=True)
            X = pd.concat([X,ohe_result],axis=1)
            X.drop(columns=['state'], inplace=True)
        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('USStateTransformer :', elapsed_time, ' seconds')
        return X

In [64]:
class DateTimeTransformer(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        super().__init__()
        
    def fit(self, X, Y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        if 'trans_time' in X.columns:
            X['trans_time'] = pd.to_datetime(X['trans_time'], format='%H:%M:%S')
            X['trans_hr'] = X['trans_time'].dt.hour
            ohe_result = ohe(X,'trans_hr',save_encoder_to_file=True)
            X = pd.concat([X,ohe_result],axis=1)
            X['time_period'] = pd.cut(X['trans_hr'], bins=[0, 6, 12, 18, 22, 24], 
                               labels=['Night', 'Morning', 'Afternoon', 'Evening', 'Night'], right=False, ordered=False)

            ohe_result = ohe(X,'time_period',save_encoder_to_file=True)
            X = pd.concat([X,ohe_result],axis=1)

        if 'trans_date' in X.columns:    
            #X['trans_date'] = pd.to_datetime(X['trans_date'], format='%Y-%m-%d').dt.date
            X['trans_date'] = X['trans_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
            X['weekday'] = X['trans_date'].dt.weekday
            ohe_result = ohe(X,'weekday',save_encoder_to_file=True)
            X = pd.concat([X,ohe_result],axis=1)

        X.drop(columns=['trans_time','trans_date','trans_hr','weekday','time_period'], inplace=True)
        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('DateTimeTransformer :', elapsed_time, ' seconds')
        return X

In [65]:
class CustomerProfileTransformer(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        super().__init__()
        
    def fit(self, X, Y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        subset_columns = ['cc_num','gender','category', 'category_median_amt', 'purchase_power_amt','woe_city','woe_state','med_daily','median_usage','age']
        customer_profile_df = X.drop_duplicates(subset=subset_columns).sort_values(by=['cc_num', 'category'])[subset_columns]
        # Check if the pickle file exists and delete it
        if os.path.exists('customer_profile.pkl'):
            os.remove('customer_profile.pkl')
        with open('customer_profile.pkl', 'wb') as file:
            pickle.dump(customer_profile_df, file)
        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('CustomerProfileTransformer :', elapsed_time, ' seconds')
        return X

In [66]:
class ColumnDropTransformer (BaseEstimator, TransformerMixin):
    def __init__(self, columns):
        super().__init__()
        self.__columns = columns

    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        start_time = time.time()
        columns_to_drop = [col for col in self.__columns if col in X.columns]
        if columns_to_drop:
            X = X.drop(columns=columns_to_drop, axis=1)
        end_time = time.time()
        elapsed_time = round(end_time - start_time,3)
        ic('ColumnDropTransformer :', elapsed_time, ' seconds')
        return X

In [67]:
df.head().T

,0,1,2,3,4
ssn,012-28-9612,012-28-9612,012-28-9612,012-28-9612,012-28-9612
cc_num,676212030255,676212030255,676212030255,676212030255,676212030255
first,Chad,Chad,Chad,Chad,Chad
last,Franklin,Franklin,Franklin,Franklin,Franklin
gender,M,M,M,M,M
street,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600
city,Tampa,Tampa,Tampa,Tampa,Tampa
state,FL,FL,FL,FL,FL
zip,33624,33624,33624,33624,33624
lat,28.079,28.079,28.079,28.079,28.079
long,-82.5268,-82.5268,-82.5268,-82.5268,-82.5268
city_pop,717255,717255,717255,717255,717255
job,Youth worker,Youth worker,Youth worker,Youth worker,Youth worker
dob,1983-02-08,1983-02-08,1983-02-08,1983-02-08,1983-02-08
acct_num,587193359431,587193359431,587193359431,587193359431,587193359431
profile,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json
trans_num,0be0b93412569ca6b73e3c8c3be9cbc0,047870cbf125c8aea2e335fdba5a0f13,202fa7867bd8d60226f0a2720a11ac29,0369b0adad5fedbac7432c998b86e9df,8d1c57f97453aea0876f9e0dc5064587
trans_date,2023-09-13,2023-09-17,2023-09-10,2023-09-10,2023-09-20
trans_time,13:02:41,20:37:51,15:41:18,12:40:16,18:28:00
unix_time,1694590361,1694963271,1694340678,1694329816,1695214680
category,shopping_net,entertainment,misc_pos,misc_pos,food_dining
amt,2.19,66.5,95.06,16.16,6.08
is_fraud,0,0,0,0,0
merchant,fraud_Gerlach Inc,"fraud_Effertz, Welch and Schowalter","fraud_Cremin, Hamill and Reichel",fraud_Dickinson-Rempel,fraud_Will Ltd
merch_lat,29.049647,27.192847,28.890032,27.825344,28.687198
merch_long,-82.752258,-83.126779,-82.688957,-82.826021,-82.528252
trans_date_time,2023-09-13 13:02:41,2023-09-17 20:37:51,2023-09-10 15:41:18,2023-09-10 12:40:16,2023-09-20 18:28:00
distance,11.02,11.49,9.16,4.07,6.76
daily_limit,5000,5000,5000,5000,5000
accumulated_daily_usage,2.19,66.5,95.06,111.22,6.08
remaining_daily_limit,4997.81,4933.5,4904.94,4888.78,4993.92
category_median_amt,44.685,8.715,14.71,14.71,7.77
med_amt,34.45,34.45,34.45,34.45,34.45
purchase_power_amt,76.82,76.82,76.82,76.82,76.82
med_daily,151.1,151.1,151.1,151.1,151.1
med_dist,7.98,7.98,7.98,7.98,7.98
q75_dist,10.62,10.62,10.62,10.62,10.62
over_med_amt,0,1,1,0,0
over_purchase_power,0,0,1,0,0
over_med_distance,1,1,1,0,0
usage_today,3,7,8,8,4
median_usage,1.0,1.0,1.0,1.0,1.0
usage_hour,1,2,2,1,1
woe_city,-0.278999,-0.278999,-0.278999,-0.278999,-0.278999
woe_state,0.003179,0.003179,0.003179,0.003179,0.003179

In [68]:
preprocess_input_pipeline = Pipeline([
    ('gender', GenderTransformer()),
    ('distance' , HaversineDistanceTransformer()),
    ('amount',AmountTransformer()),
    ('purchase_power',PurchasePowerTransformer()),
    ('customerage'  , AgeTransformer()),
    ('merchant_cat', MerchantCatTransformer()),
    ('city_population', CityPopulationTransformer()),
    ('state', USStateTransformer()),
    ('datetime',DateTimeTransformer()),
    ('save_cust_profile', CustomerProfileTransformer()),
    ('drop_columns', ColumnDropTransformer(['ssn','cc_num','first','last','street','city','zip','job','acct_num','profile','trans_num','trans_date','trans_time','unix_time','merchant','merch_lat','merch_long','trans_date_time','gender','purchase_power_amt','category','age','dob','age_group','category_median_amt']))
])
#ssn|cc_num|first|last|gender|street|city|state|zip|lat|long|city_pop|job|dob|acct_num|profile|trans_num|trans_date|trans_time|unix_time|category|amt|is_fraud|merchant|merch_lat|merch_long

In [69]:
df.head().T

,0,1,2,3,4
ssn,012-28-9612,012-28-9612,012-28-9612,012-28-9612,012-28-9612
cc_num,676212030255,676212030255,676212030255,676212030255,676212030255
first,Chad,Chad,Chad,Chad,Chad
last,Franklin,Franklin,Franklin,Franklin,Franklin
gender,M,M,M,M,M
street,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600,37597 Hall Creek Apt. 600
city,Tampa,Tampa,Tampa,Tampa,Tampa
state,FL,FL,FL,FL,FL
zip,33624,33624,33624,33624,33624
lat,28.079,28.079,28.079,28.079,28.079
long,-82.5268,-82.5268,-82.5268,-82.5268,-82.5268
city_pop,717255,717255,717255,717255,717255
job,Youth worker,Youth worker,Youth worker,Youth worker,Youth worker
dob,1983-02-08,1983-02-08,1983-02-08,1983-02-08,1983-02-08
acct_num,587193359431,587193359431,587193359431,587193359431,587193359431
profile,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json,adults_2550_male_urban.json
trans_num,0be0b93412569ca6b73e3c8c3be9cbc0,047870cbf125c8aea2e335fdba5a0f13,202fa7867bd8d60226f0a2720a11ac29,0369b0adad5fedbac7432c998b86e9df,8d1c57f97453aea0876f9e0dc5064587
trans_date,2023-09-13,2023-09-17,2023-09-10,2023-09-10,2023-09-20
trans_time,13:02:41,20:37:51,15:41:18,12:40:16,18:28:00
unix_time,1694590361,1694963271,1694340678,1694329816,1695214680
category,shopping_net,entertainment,misc_pos,misc_pos,food_dining
amt,2.19,66.5,95.06,16.16,6.08
is_fraud,0,0,0,0,0
merchant,fraud_Gerlach Inc,"fraud_Effertz, Welch and Schowalter","fraud_Cremin, Hamill and Reichel",fraud_Dickinson-Rempel,fraud_Will Ltd
merch_lat,29.049647,27.192847,28.890032,27.825344,28.687198
merch_long,-82.752258,-83.126779,-82.688957,-82.826021,-82.528252
trans_date_time,2023-09-13 13:02:41,2023-09-17 20:37:51,2023-09-10 15:41:18,2023-09-10 12:40:16,2023-09-20 18:28:00
distance,11.02,11.49,9.16,4.07,6.76
daily_limit,5000,5000,5000,5000,5000
accumulated_daily_usage,2.19,66.5,95.06,111.22,6.08
remaining_daily_limit,4997.81,4933.5,4904.94,4888.78,4993.92
category_median_amt,44.685,8.715,14.71,14.71,7.77
med_amt,34.45,34.45,34.45,34.45,34.45
purchase_power_amt,76.82,76.82,76.82,76.82,76.82
med_daily,151.1,151.1,151.1,151.1,151.1
med_dist,7.98,7.98,7.98,7.98,7.98
q75_dist,10.62,10.62,10.62,10.62,10.62
over_med_amt,0,1,1,0,0
over_purchase_power,0,0,1,0,0
over_med_distance,1,1,1,0,0
usage_today,3,7,8,8,4
median_usage,1.0,1.0,1.0,1.0,1.0
usage_hour,1,2,2,1,1
woe_city,-0.278999,-0.278999,-0.278999,-0.278999,-0.278999
woe_state,0.003179,0.003179,0.003179,0.003179,0.003179

We will now tranform our data and proceed further with our analysis, mainly on the following

- Encoding the categorical features 

- Looking out for Features Importance

- Testing the data against few models which are best suited for problems which fall under Fraud Detection, mainly we will test using
    
    - Random Forest 

    - XGBoost

In [70]:
processed_data = preprocess_input_pipeline.transform(df)
processed_data.head()

ic| 'GenderTransformer :', elapsed_time: 0.28, ' seconds'
ic| 'HaversineDistanceTransformer :', elapsed_time: 0.557, ' seconds'
ic| 'AmountTransformer :', elapsed_time: 0.66, ' seconds'
ic| 'PurchasePowerTransformer :', elapsed_time: 0.012, ' seconds'
ic| 'AgeTransformer :', elapsed_time: 0.945, ' seconds'
ic| 'MerchantCatTransformer :', elapsed_time: 0.259, ' seconds'
ic| 'CityPopulationTransformer :', elapsed_time: 0.164, ' seconds'
ic| 'USStateTransformer :', elapsed_time: 0.963, ' seconds'
ic| 'DateTimeTransformer :', elapsed_time: 8.02, ' seconds'
ic| 'CustomerProfileTransformer :', elapsed_time: 0.317, ' seconds'
ic| 'ColumnDropTransformer :', elapsed_time: 0.141, ' seconds'

,is_fraud,med_amt,med_daily,over_med_amt,over_purchase_power,over_med_distance,usage_today,median_usage,usage_hour,woe_city,woe_state,gender_F,gender_M,distance_scaled,med_dist_scaled,q75_dist_scaled,amt_scaled,daily_limit_scaled,accumulated_daily_usage_scaled,remaining_daily_limit_scaled,med_amt_scaled,med_daily_scaled,category_median_amt_scaled,purchase_power_amt_scaled,age_scaled,age_group_10,age_group_20,age_group_30,age_group_40,age_group_50,age_group_60,age_group_70,age_group_80,age_group_90,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,state_pop_med_scaled,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_IA,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,trans_hr_0,trans_hr_1,trans_hr_2,trans_hr_3,trans_hr_4,trans_hr_5,trans_hr_6,trans_hr_7,trans_hr_8,trans_hr_9,trans_hr_10,trans_hr_11,trans_hr_12,trans_hr_13,trans_hr_14,trans_hr_15,trans_hr_16,trans_hr_17,trans_hr_18,trans_hr_19,trans_hr_20,trans_hr_21,trans_hr_22,trans_hr_23,time_period_Afternoon,time_period_Evening,time_period_Morning,time_period_Night,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0,34.45,151.1,0,0,1,3,1.0,1,-0.278999,0.003179,0,1,1.143775,0.161791,1.565242,-0.485791,0.0,-0.489802,0.516429,-0.296934,-0.102816,-0.253601,-0.384294,-0.300069,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0.617605,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1,0,34.45,151.1,1,0,1,7,1.0,2,-0.278999,0.003179,0,1,1.304062,0.161791,1.565242,-0.237999,0.0,-0.412527,0.433442,-0.296934,-0.102816,-0.500229,-0.384294,-0.300069,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.617605,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1
2,0,34.45,151.1,1,1,1,8,1.0,2,-0.278999,0.003179,0,1,0.509447,0.161791,1.565242,-0.127954,0.0,-0.378209,0.396588,-0.296934,-0.102816,-0.459124,-0.384294,-0.300069,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.617605,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
3,0,34.45,151.1,0,0,0,8,1.0,1,-0.278999,0.003179,0,1,-1.226428,0.161791,1.565242,-0.431964,0.0,-0.358791,0.375735,-0.296934,-0.102816,-0.459124,-0.384294,-0.300069,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.617605,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
4,0,34.45,151.1,0,0,0,4,1.0,1,-0.278999,0.003179,0,1,-0.309040,0.161791,1.565242,-0.470803,0.0,-0.485127,0.511410,-0.296934,-0.102816,-0.506708,-0.384294,-0.300069,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.617605,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0

Feature Selection using Random Forest

In [ ]:
#Extracting the features and target variables
X = processed_data.drop(['is_fraud'], axis=1)
y = processed_data['is_fraud']
rfc_model = RandomForestClassifier(n_estimators=128) 
rfc_model.fit(X, y)
rfc_feature_importances = rfc_model.feature_importances_

rfc_feature_importance_df = pd.DataFrame({'Feature': X.columns, 'Importance': rfc_feature_importances})

# Sort the DataFrame by importance in descending order
rfc_feature_importance_df = rfc_feature_importance_df.sort_values(by='Importance', ascending=False)

In [ ]:
rfc_feature_importance_df.T

In [ ]:
# Plot the feature importances
plt.figure(figsize=(10, 40))
plt.barh(rfc_feature_importance_df['Feature'], rfc_feature_importance_df['Importance'])
plt.xlabel('Importance')
plt.ylabel('Feature')
plt.title('Feature Importance Scores')
plt.show()

Feature Selection using XGBoost

In [ ]:
#Extracting the features and target variables
X = processed_data.drop(['is_fraud'], axis=1)
y = processed_data['is_fraud']
xgb_model = xgb.XGBClassifier()
xgb_model.fit(X, y)
xgb_feature_importances = xgb_model.feature_importances_

xgb_feature_importance_df = pd.DataFrame({'Feature': X.columns, 'Importance': xgb_feature_importances})

# Sort the DataFrame by importance in descending order
xgb_feature_importance_df = xgb_feature_importance_df.sort_values(by='Importance', ascending=False)

# Plot the feature importances
plt.figure(figsize=(10, 40))
plt.barh(xgb_feature_importance_df['Feature'], xgb_feature_importance_df['Importance'])
plt.xlabel('Importance')
plt.ylabel('Feature')
plt.title('Feature Importance Scores')
plt.show()

<h3>Split the data into 80% and 20%</h3>

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15,stratify=y)

In [ ]:
# Create the MLPClassifier
estimator = MLPClassifier(hidden_layer_sizes=(64, 32), activation='relu', random_state=42)

# Create a SelectKBest feature selector with a scoring function (e.g., f_classif)
feature_selector = SelectKBest(score_func=f_classif, k=20)  # Adjust k as needed

# Create the final pipeline
final_pipeline = Pipeline([
    ('feature_selection', feature_selector),  # Feature selection with SelectKBest
    ('model', estimator)  # Neural network model
])

# Fit the pipeline on the training data
final_pipeline.fit(X_train, y_train)

# Evaluate the model on the test data
test_accuracy = final_pipeline.score(X_test, y_test)
print(f'Test Accuracy: {test_accuracy * 100:.2f}%')

In [ ]:
processed_data.head()

In [ ]:
#We will first process the data using RandomForest and XGBoost, post that we will use ANN.

#Idea for NN Structure with Sigmoid at Output Layer
#256 128 64 32 16 1

In [ ]:
#from sklearn.inspection import permutation_importance
#rfc_perm_importance = permutation_importance(rfc_model, X, y, n_repeats=5, random_state=15)
#rfc_perm_importance_df = pd.DataFrame({'Feature': X.columns, 'Importance': rfc_perm_importance.importances_mean})
#rfc_perm_importance_df = rfc_perm_importance_df.sort_values(by='Importance', ascending=False)

#plt.figure(figsize=(10, 6))
#plt.barh(rfc_perm_importance_df['Feature'], rfc_perm_importance_df['Importance'])
#plt.xlabel('Importance')
#plt.ylabel('Feature')
#plt.title('Permutation Importance')
#plt.show()

In [ ]:
xgb_perm_importance = permutation_importance(xgb_model, X, y, n_repeats=5, random_state=15,n_jobs=-1)
xgb_perm_importance_df = pd.DataFrame({'Feature': X.columns, 'Importance': xgb_perm_importance.importances_mean})
xgb_perm_importance_df = xgb_perm_importance_df.sort_values(by='Importance', ascending=False)
plt.figure(figsize=(10, 6))
plt.barh(xgb_perm_importance_df['Feature'], xgb_perm_importance_df['Importance'])
plt.xlabel('Importance')
plt.ylabel('Feature')
plt.title('Permutation Importance')
plt.show()

In [ ]:
df.shape

In [ ]:
processed_data.shape

<h2>Model Testing</h2>

In [ ]:
def initial_models():
    #We will train our data with few Models and check for few critial parameters
    models = []
    models.append(('LR', LogisticRegression(solver='liblinear')))
    models.append(('Ridge', RidgeClassifier()))
    models.append(('Perceptron', Perceptron()))
    models.append(('RF', RandomForestClassifier()))
    models.append(('GB', GradientBoostingClassifier()))
    models.append(('ExtraTrees', ExtraTreesClassifier()))
    models.append(('Bagging', BaggingClassifier()))
    models.append(('AdaBoost', AdaBoostClassifier()))
    models.append(('MLP', MLPClassifier()))
    models.append(('XGBoost', XGBClassifier(use_label_encoder=False, eval_metric='logloss')))

    #We will split our data now for training
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7,stratify=y)
    #Here the results are computed and stored in performance_table DataFrame, sorted by ROC AUC (descending order)
    results = []
    names = []
    scoring = 'accuracy' 
    for name, model in models:
        begin = start = time.time()
        kfold = KFold(n_splits=10, random_state=7, shuffle=True)
        model.fit(X_train, y_train)
        train_time = time.time() - start
        cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
        start = time.time()
        y_pred = model.predict(X_test)
        predict_time = time.time() - start 
        accuracy = accuracy_score(y_test, y_pred)
        precision = precision_score(y_test, y_pred)
        recall = recall_score(y_test, y_pred)
        f1 = f1_score(y_test, y_pred)
        roc_auc = roc_auc_score(y_test, y_pred)
        results.append([name,train_time,predict_time,accuracy,precision,recall,f1,roc_auc,cv_results.mean()])
        end = time.time() - begin
        print("Done with model {} in {} seconds".format(name,end))
        print()
    performance_table = pd.DataFrame(results, columns=["Classifier", "Training Time", "Prediction Time","Accuracy", "Precision", "Recall", "F1 Score", "ROC AUC","Cross Val Score(Mean)"])
    performance_table = performance_table.sort_values(by="ROC AUC", ascending=False).reset_index(drop=True)  
    print(performance_table)
    #We will draw a line plot to check for "Accuracy" of each model
    sns.lineplot(x='Classifier',y='Accuracy', data=performance_table)
    plt.xticks(rotation=45)
    plt.show()
    scores = []
    for name, model in models:
        cv_scores = cross_val_score(model, X, y, scoring='roc_auc', cv=10)
        for score in cv_scores:
            scores.append([name, score])

    scores_df = pd.DataFrame(scores, columns=["Classifier", "Score"])
    # Create a boxplot for the various models used here.
    plt.figure(figsize=(14, 6))
    sns.boxplot(x="Classifier", y="Score", data=scores_df)
    plt.title(f"Classifier {scoring.upper()} Comparison (k-Fold Cross-Validation)")
    plt.xticks(rotation=45)
    plt.show()

initial_models()